<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
     <add name="CustomerInvoiceEntities" connectionString="metadata=res://*/CustomerInvoiceModel.csdl|res://*/CustomerInvoiceModel.ssdl|res://*/CustomerInvoiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=PC04;Initial Catalog=CustomerInvoice;User ID=sa;Password=Ceoaaa45;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>